In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import datetime as dt
import json

from oura import OuraClient
from pymongo import MongoClient
import pymongo

# Connect MongoDB

In [2]:
oura_token = '543KSLLHCF46SBCEI4STODAVS7ZM44XH'
oura_client = OuraClient(personal_access_token=oura_token)
# Mongo client
mongo_client = MongoClient("mongodb+srv://andrea:N9oV7qkj01LnsvLx@footballdb.ssfhubn.mongodb.net/?retryWrites=true&w=majority")

# Open a DB 
db = mongo_client.footballDB

In [4]:
json_file = open('./Data/oura_heart-rate_2022-08-26T07-32-59.json')
json_file = json.load(json_file)['heart_rate']

In [5]:
df = pd.DataFrame(json_file)
df

,timestamp_unix,source,bpm,restorative,sample_quality,timestamp,quality
0,1659632338000,awake,61.0,False,None,2022-08-04T16:58:58.000Z,good
1,1659632346000,awake,58.0,False,None,2022-08-04T16:59:06.000Z,good
2,1659632360000,awake,63.0,False,None,2022-08-04T16:59:20.000Z,good
3,1659632627000,awake,66.0,False,None,2022-08-04T17:03:47.000Z,average
4,1659632628000,awake,72.0,False,None,2022-08-04T17:03:48.000Z,average
...,...,...,...,...,...,...,...
34174,1661468988000,awake,64.0,False,None,2022-08-25T23:09:48.000Z,good
34175,1661468992000,awake,77.0,False,None,2022-08-25T23:09:52.000Z,good
34176,1661469301000,awake,77.0,False,None,2022-08-25T23:15:01.000Z,good
34177,1661469324000,awake,61.0,False,None,2022-08-25T23:15:24.000Z,good
34178,1661469327000,awake,74.0,False,None,2022-08-25T23:15:27.000Z,good

In [6]:
df['timestamp_unix'] = pd.to_datetime(df['timestamp_unix'], unit='ms')
df['timestamp_unix'] = df['timestamp_unix'] + pd.Timedelta(hours=2)
df.drop('timestamp', axis=1,inplace=True)
df.rename(columns = {'timestamp_unix':'datetime'}, inplace = True)
df

                 datetime source   bpm  restorative sample_quality  quality
0     2022-08-04 18:58:58  awake  61.0        False           None     good
1     2022-08-04 18:59:06  awake  58.0        False           None     good
2     2022-08-04 18:59:20  awake  63.0        False           None     good
3     2022-08-04 19:03:47  awake  66.0        False           None  average
4     2022-08-04 19:03:48  awake  72.0        False           None  average
...                   ...    ...   ...          ...            ...      ...
34174 2022-08-26 01:09:48  awake  64.0        False           None     good
34175 2022-08-26 01:09:52  awake  77.0        False           None     good
34176 2022-08-26 01:15:01  awake  77.0        False           None     good
34177 2022-08-26 01:15:24  awake  61.0        False           None     good
34178 2022-08-26 01:15:27  awake  74.0        False           None     good

[34179 rows x 6 columns]

In [7]:
general_info = db.general_info
last_updates_collections = list(general_info.find())[0]

In [8]:
# Heartrate DATA Seen up to
last_heartrate_update = last_updates_collections['heartrate_last_updated']

In [9]:
new_heartrate_df = df.loc[df['datetime'] > last_heartrate_update]

In [10]:
new_heartrate_df

                 datetime source   bpm  restorative sample_quality quality
28777 2022-08-22 11:21:56  awake  63.0        False           None    good
28778 2022-08-22 11:22:16  awake  72.0        False           None    good
28779 2022-08-22 11:22:29  awake  83.0        False           None    good
28780 2022-08-22 11:27:18  awake  94.0        False           None    good
28781 2022-08-22 11:27:24  awake  67.0        False           None    good
...                   ...    ...   ...          ...            ...     ...
34174 2022-08-26 01:09:48  awake  64.0        False           None    good
34175 2022-08-26 01:09:52  awake  77.0        False           None    good
34176 2022-08-26 01:15:01  awake  77.0        False           None    good
34177 2022-08-26 01:15:24  awake  61.0        False           None    good
34178 2022-08-26 01:15:27  awake  74.0        False           None    good

[5402 rows x 6 columns]

In [11]:
dictio = df.to_dict('list')

In [12]:
# COLLECTION
heartrate = db.heartrate

# How to read data

In [13]:
heartrate_json = heartrate.find({})[0]

# How to upload data

In [14]:
if(len(new_heartrate_df) > 0):
    heartrate.update_one({'_id':heartrate_json['_id']}, {'$set':dictio})
    #heartrate.insert_one(dictio)

In [15]:
#Reload full json updated
heartrate_json = heartrate.find({})[0]

In [16]:
heartrate_df_saved = pd.DataFrame.from_dict(heartrate_json)
heartrate_df_saved.drop('_id', axis=1, inplace=True)

In [17]:
heartrate_df_saved

                 datetime source   bpm  restorative sample_quality  quality
0     2022-08-04 18:58:58  awake  61.0        False           None     good
1     2022-08-04 18:59:06  awake  58.0        False           None     good
2     2022-08-04 18:59:20  awake  63.0        False           None     good
3     2022-08-04 19:03:47  awake  66.0        False           None  average
4     2022-08-04 19:03:48  awake  72.0        False           None  average
...                   ...    ...   ...          ...            ...      ...
34174 2022-08-26 01:09:48  awake  64.0        False           None     good
34175 2022-08-26 01:09:52  awake  77.0        False           None     good
34176 2022-08-26 01:15:01  awake  77.0        False           None     good
34177 2022-08-26 01:15:24  awake  61.0        False           None     good
34178 2022-08-26 01:15:27  awake  74.0        False           None     good

[34179 rows x 6 columns]

In [18]:
if(len(dictio)> 0):
    # Change last_heartrate_update
    last_heartrate_update = heartrate_df_saved.iloc[-1][0]
    last_updates_collections['heartrate_last_updated'] = dt.datetime.strftime(last_heartrate_update, '%Y-%m-%d %H:%M:%S')
    db.general_info.update_one({'_id':last_updates_collections['_id']}, {'$set':last_updates_collections})